---
layout: home
title: Innovation Design Consortium Code Sharing Library
description: Make IDC better, together. Stories of open source, open data, and open IDC.
org_count: 60
permalink: /
---

  <div class="container-lg p-responsive py-4 py-lg-6 my-xl-4 text-center">
    <h1 class="alt-h1 mb-2 text-white">How IDC firms build&nbsp;software</h1>
    <p class="f2-light text-white">Collaborate on code, data, and policy with the IDC.</p>
  </div>
</div><!-- ends .full-width that started in header.html -->

<div class="container-lg p-responsive">
  <div class="Box clearfix p-4 p-sm-5 col-md-7 mx-auto mt-6">
    <div class="float-left">
      <img class="d-block pr-4" style="width: 80px;" alt="Innovation Design Consortium" src="{{"/assets/img/IDC-Logo_Avatar.svg" | relative_url}}">
    </div>
    <div class="overflow-hidden">
      <p>The Innovation Design Consortium is a collection of AEC firms innovating through collaboration. 
      </p>
      <a href="https://innovationdesignconsortium.com/">Learn More {% octicon chevron-right height:18 class:"d-inline fill-blue ml-1" %}</a>
    </div>
  </div>
</div>

<section class="container-lg p-responsive py-5 py-md-6 my-lg-6">
  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        <a href="{{"/guidelines/collaborate/" | relative_url}}"> {% octicon terminal height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
         Collaborate on code </a>
      </h2>
      <p class="text-gray">Code collaboration and review are built into the development process with GitHub. Check out our steps for getting started so you can share work, discuss changes, and get feedback in one place.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        <a href="{{"/guidelines/documentation/" | relative_url}}"> {% octicon pencil height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
          Document your project </a>
      </h2>
      <p class="text-gray">Clear documentation is the backbone of any successful project. Discover our standards and best practices to ensure consistency across all projects.</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        <a href="{{"/guidelines/review/" | relative_url}}"> {% octicon search height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
          Review Process </a>
      </h2>
      <p class="text-gray">Quality is paramount. Get acquainted with our rigorous code review process and understand the criteria that every contribution needs to meet.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        <h2 class="alt-h3 mb-2">
          <a href="{{"/guidelines/collaborationtools/" | relative_url}}"> {% octicon comment-discussion height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
            Collaboration Tools </a>
        </h2>
      </h2>
      <p class="text-gray"> Seamless collaboration is key to our success. Familiarize yourself with the platforms and tools that keep our consortium connected and coordinated.</p>
    </div>
  </div>

  <div class="clearfix gutter-spacious">
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        <a href="{{"/guidelines/projecthighlights/" | relative_url}}"> {% octicon star height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
          Project Highlights </a>
      </h2>
      <p class="text-gray">Our projects define us. Take a moment to explore our most influential and transformative works that have shaped the industry.</p>
    </div>
    <div class="mb-3 mb-md-5 col-md-6 float-left">
      <h2 class="alt-h3 mb-2">
        <a href="{{"/guidelines/feedback/" | relative_url}}"> {% octicon light-bulb height:28 class:"fill-blue d-inline mr-2" aria-label:terminal %}
          Feedback and Suggestions </a>
      </h2>
      <p class="text-gray">Innovation thrives on new ideas. Share your thoughts, feedback, and innovative suggestions to help us continuously evolve and improve.</p>
    </div>
  </div>

  <p class="text-center">
    <a href="https://code.innovationdesignconsortium.com/features" class="btn btn-outline">Learn more about IDC &rarr;</a>
  </p>
</section>


<section class="bg-gray-light">
  <div class="container-lg p-responsive py-5 py-md-6 ">

    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="more-than-just-code">More than just code</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">Ut in est Lorem officia. Proident consequat duis deserunt cillum nostrud aute cupidatat eu voluptate adipisicing enim enim.<a href="https://github.blog/2014-02-14-rendered-prose-diffs/">text</a>, <a href="https://help.github.com/articles/rendering-csv-and-tsv-data">CSV</a>, <a href="https://github.blog/2015-03-17-pdf-viewing/">PDF</a>, <a href="https://help.github.com/articles/mapping-geojson-files-on-github">geospatial data</a> and Jupyter Notebooks.</p>

    <div class="my-4 my-lg-6 clearfix gutter-spacious">
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Open Source</h3>
        <p><a href="https://code.innovationdesignconsortium.com/showcases/contributors" target="_blank">
          <img src="assets/img/open-source.png" class="img-border" alt="Pull request launching gov.uk"/></a>
        </p>
        <small>The IDC pull request</small>
      </div>
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Open Data</h3>
        <p><a href="https://code.innovationdesignconsortium.com/showcases/open-data" target="_blank">
          <img src="assets/img/open-data.png" class="img-border" alt="GeoJSON diff of Illinois 4th Congressional District"/></a>
        </p>
        <small>IDC builds data visualizations and analysis tools with GitHub</small>
      </div>
      <div class="col-md-4 float-left animate-out mb-4">
        <h3 class="alt-h3 mb-3">Open IDC</h3>
        <p><a href="https://code.innovationdesignconsortium.com/showcases/policies" target="_blank">
          <img src="assets/img/open-gov.png" class="img-border" alt="Project Open Data"/></a>
        </p>
        <small>Find the IDC projects at <a href="https://code.gov/">Code.gov</a></small>
      </div>
    </div>

    <p class="text-center">
      <a href="https://code.innovationdesignconsortium.com/collections/contributors" class="btn btn-outline">See more showcases &rarr;</a>
    </p>

  </div>
</section>

<section class="">
  <div class="container-lg p-responsive py-5 py-md-6 ">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="join-the-revolution">Join the Revolution</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">Enim quis nulla nisi id ea dolore sunt. In tempor pariatur cillum proident quis eu incididunt adipisicing ea est. Amet amet culpa labore proident. Tempor est excepteur pariatur ut ea adipisicing voluptate irure dolor quis ad. Nulla ad do velit commodo aliqua eu veniam voluptate laborum. Occaecat ipsum ullamco ut consectetur et. Laboris laborum aute dolor qui elit voluptate aute exercitation pariatur sunt do.</a>.</p>
  </div>
  <div style="overflow: hidden;">
    {% comment %}
    {% assign count = 0 %}
    {% for group in site.data.IDCs %}
      {% for org in group[1] %}
        {% assign count = count | plus:1 %}
      {% endfor %}
    {% endfor %}
    <div class="featured-orgs text-center p-2 m-2">
      {% for org in site.featured_orgs %}
      <a href="https://code.innovationdesignconsortium.com/{{ org }}" class="animate-in">{% avatar user=org size=80 %}</a>
      {% endfor %}

      {% endcomment %}
    </div>
  </div>
</section>

<section id="get-started" class="mini-section mt-6">
  <div class="container-lg p-responsive">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6">Get started today</h2>
    <p class="alt-lead text-gray text-center col-md-10 mx-auto">Create a free account to get started with GitHub. <a href="mailto:'insert contact info'">Contact us</a> to learn more about hosting your own GitHub instance.</p>

    <div class="mt-md-6 clearfix gutter-spacious">
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Sign up for an account</h3>
        <p class="text-gray"><a href="https://code.innovationdesignconsortium.com/signup/free" target="_blank">Sign up</a> for an individual GitHub account for free.</p>
        <p class="text-gray">If you have a personal GitHub account, simply <a href="https://insert link">add and confirm</a> your IDC email.</p>
      </div>
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Create an organization</h3>
        <p class="text-gray">Enim quis nulla nisi id ea dolore sunt. In tempor pariatur cillum proident quis eu incididunt adipisicing ea est. Amet amet culpa labore proident. Tempor est excepteur pariatur ut ea adipisicing voluptate irure dolor quis ad. Nulla ad do velit commodo aliqua eu veniam voluptate laborum. Occaecat ipsum ullamco ut consectetur et. Laboris laborum aute dolor qui elit voluptate aute exercitation pariatur sunt do.
      </div>
    </div>
    <div class="mb-md-6 clearfix gutter-spacious">
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Join the Peer Group</h3>
        <p class="text-gray">Join the <a href="https://insert link">semi-private group</a> of IDC employees using GitHub to share best practices for software collaboration.</p>
        <p class="text-gray">You will have access once the IDC email associated with your account is verified.
      </div>
      <div class="mb-4 col-md-6 float-left">
        <h3 class="alt-h3 mb-2">Learn More</h3>
        <p class="text-gray">Browse GitHub training resources at <a href="https://training.github.com">training.github.com</a>.</p>
        <p class="text-gray">Contact <a href="mailto:training@github.com">training@github.com</a> to bring GitHub training to your team.</p>
      </div>
    </div>
  </div>
</section>


<section id="contact-a-human" class="bg-gray-light">
  <div class="container-lg p-responsive py-5 py-md-6 text-center">
    <span class="text-center">
      {% octicon person height:42 class:"d-block mx-auto mb-4 text-center fill-gray" aria-label:person %}
    </span>
    <h3 class="alt-h2 mb-4">Talk to a human</h3>
    <p>Email <a href="mailto:insert contact info">insert contact info</a> to talk to GitHub's IDC team.</p>
    <p><a href="https://insert link">Post a question</a> in the IDC community to get feedback from other GitHub users in IDC.</p>
  </div>
</section>
